body{
    font-family: Arial, sans-serif;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    width: 280px;
    height: 303px;
    margin-left: 40%;
	margin-top: 10%;
}
.container{
    display: flex;
    flex-direction: column;

}header {
    display: flex;
	background-color: rgb(210, 120, 210);
	height: 65px;
	justify-content: center;
	border-bottom: 1px solid #ccc;
    align-items: center; 
}
nav {
    display: flex;
    background-color: rgb(139, 6, 139);
	height: 35px;
	justify-content: center;
    color: whitesmoke;
    align-items: center;
    
}
main{
    display: flex; 
    margin-bottom: 54px;
    height: 58px;
    justify-content: center;
    align-items: center;
     margin-top: 30px;
}
footer {
    display: flex;
	background-color: rgb(246, 117, 246);
	justify-content: center;
	color: black;
    height: 60px;
    align-items: center;
   
}
